.algorand-logo {
    width: 64px;
}

.spacer {
    flex: 1 1 auto;
}

.wrap {
    min-height: calc(100vh - 64px);
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
}
