<article class="auction-card mat-elevation-z3">
    <header>
        <span class="mat-title">{{detail.title}}</span>
    </header>
    <div class="row-xs-12 auction-img categories">
        <mat-chip-list>
            <mat-chip color="primary" selected>{{detail.itemName}}</mat-chip>
        </mat-chip-list>
    </div>
    <footer class="row">
        <p class="col-xs-12 mat-caption">{{detail.description}}</p>
        <p class="col-xs-12" *ngIf="expirationDate; else expired">{{expirationDate}}</p>
        <ng-template #expired>
            <p class="col-xs-12 auction-expired mat-body-strong">Expired</p>
        </ng-template>
        <p class="col-xs-12">Highest bid: {{detail.highestBid | currency:'EUR':'code'}}</p>
    </footer>
</article>