.auction-card {
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.auction-img {
    background-image: url("../../../assets/img-test.jpg");
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.categories {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
}

.auction-expired {
    color: rgb(168, 0, 0);
}
